/* Genereic roules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --style_color_barra_header: #001534;
    --style_color_principal: rgb(134, 155, 193);
    --style_color_img: #E7E7E7;
    --style_color_cont_xs: #d22929;
    --style_color_cont_sales: #EB0037;
    --style_color_cont_text: #00875A;
    --style_color_text_cont: white;
    --style_color_text_brand: #ababab;
    --style_color_text_description: black;
    --style_color_text_prices: black;
    --style_color_text__sales_prices: red;
     
}

/******* header ******/
#site_header{
    background-color: var(--style_color_barra_header);
    height: 300px;
}

#logo img{
    width: 300px;
    height: 300px;
}

#testodiguida{
    font-size: 10rem;
    vertical-align: 100px;
    color: white;
}


/******* main ******/

#container_big{
    background-color: var(--style_color_principal);
    text-align: center;
    margin-top: 10rem;
}

.container_small{
    width: 346.32px;
    height: 500px;
    background-color: aqua;
    display: inline-block;
    margin-left: 30px;
    position: relative;
}
/* Contenitore small-img */

.container_small img{
    height: 100%;
    background-color: var(--style_color_img);
} 

.container_small .second{
    height: 100%;
    background-color: var(--style_color_img);
}

/* Prima img */

.first_img{
    width: 346.32px;
    height: 500px;
    position: absolute;
}

/* Seconda img con effetto hover */

.second_img{
    width: 346.32px;
    height: 500px;
    position: relative;
    visibility: hidden;
}

.container_small:hover .second_img{
    visibility: visible;
}

/* Contenitori interni alle img */

.container_xs{
    width: 50px;
    height: 50px;
    background-color: var(--style_color_cont_xs);
    position: absolute;
    top: 20px;
    right: 0px;
}

.hearts{
    font-size: 30px;
    line-height: 50px;
    color: white;
}

.container_sales{
    width: 40px;
    height: 20px;
    background-color: var(--style_color_cont_sales);
    position: absolute;
    bottom: 20px;
    left: 0px;
    color: var(--style_color_text_cont)
}

.container_text{
    width: 90px;
    height: 20px;
    background-color: var(--style_color_cont_text);
    position: absolute;
    bottom: 20px;
    left: 43px;
    color: var(--style_color_text_cont)
}

.brand_text{
    text-align: left;
    color: var(--style_color_text_brand)
}

.description_text{
    text-align: left;
    color: var(--style_color_text_description)
}

.prices_text{
    text-align: left;
    color: var(--style_color_text_prices);
}

.sales_price{
    color: var(--style_color_text__sales_prices)
}

/******* footer ******/